{% extends 'base.html' %}
{% block title %}Email sent - ACO{% endblock title %}

{% block content %}

  <br><br><br>
  <div class="container">
    <br>
    <div class="display-4">Email sent <i class="fas fa-check-circle fa-2x text-success"></i></div>
    <br>

    <div id="card p-3">
      <div class="alert alert-success">
        We've emailed you instructions for setting your password, if an account exists with the email you entered. 
        You should receive them shortly. If you don't receive an email, please make sure you've entered the address 
        you registered with, and check your spam folder.
      </div>
      <a class="btn btn-primary" href="{% url 'accounts:login' %}">&LongLeftArrow; Back To Login</a>
    </div>
  </div>
<br><br><br>
{% endblock content %}
