{% extends 'base.html' %}
{% block title %}New Password - ACO{% endblock title %}

{% block content %}
<section class="text-white bg-blue-dark">

  <br><br><br>
  <div class="container">
      
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <br>
    <div class="display-4">Confirm New Password <i class="fas fa-check-circle fa-2x text-success"></i></div>
    <br>

    <div id="card p-3">
        <form action="" method="POST" class="form-box text-left">{% csrf_token %}
            <label for="password1">New Password</label>
            <input type="password" id="password1" name="password1" class="form-control" required><hr>
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" class="form-control" required>
            <hr>
            <input type="submit" class="btn btn-primary" value="Reset Password">
        </form>
      <p> Already have an account ? <a class="link" href="{% url 'login' %}">Login</a>
    </div>
  </div>
</section>
{% endblock content %}
