{% extends 'base.html' %}
{% block title %}Password Reset Complete - ACO{% endblock title %}

{% block content %}
<section class="text-white bg-blue-dark">

  <br><br><br>
  <div class="container">
    <br>
    <div class="display-4">Password Reset <i class="fas fa-check-circle fa-2x text-success"></i></div>
    <br>

    <div id="card p-3">
      <div class="alert alert-success">
        Your password has been set, you are now able to Log In!
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">Sign In Here</a>
    </div>
  </div>
</section>
{% endblock content %}
