{% extends 'base.html' %}
{% block title %}Password Reset - ACO{% endblock title %}

{% block content %}

<br><br><br>
<div class="container">
<br>
<div class="display-4">Password Reset</div>
<br>

  <div class="row text-dark">
    <div class="col-lg-6">
    <div class="card p-3">
      <form action="" method="POST">{% csrf_token %}
        <i class="fas fa-envelope"></i> Email 
        {{ form.email }}
        <span class="text-danger">{{ form.email.errors }}</span><hr>

        <button type="submit" class="btn btn-primary"><small>Request Password Reset</small></button>
      </form>
      <br>
      <p class="text-muted">New for Fidel ?<a href="{% url 'accounts:create_account' %}"> Register here</a></p>
    </div>
  </div>
  </div>
<br><br><br>

{% endblock content %}
