{% extends 'base.html' %}
{% block title %}Change Password | ACO{% endblock title %}
{% load static %}

{% block content %}

<br><br><br>
<div class="container">

<p class="display-4 text-center">Change Password </p>

{% if form.errors %}<div class="alert alert-danger">Please correct the error(s) below</div>{% endif %}

<div class="row text-dark">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="container"><br>
            
                <form action="" method="POST">{% csrf_token %}
                    <label>{{ form.old_password.label }}</label>
                    <!-- {{ form.old_password }}  -->
                    <input type="password" class="form-control" name="old_password" id="old_password" required>
                    <span class="text-danger">{{ form.old_password.errors }}</span>
                    <p class="text-muted-xs">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p><hr>

                    <label>{{ form.new_password1.label }}</label>
                    <!-- {{ form.new_password1 }} -->
                    <input type="password" class="form-control" name="new_password1" id="new_password1" required>
                    <span class="text-danger">{{ form.new_password1.errors }}</span>
                    <p class="text-muted-xs">
                        Your password can't be too similar to your other personal information.<br>
                        Your password must contain at least 8 characters.<br>
                        Your password can't be a commonly used password.<br>
                        Your password can't be entirely numeric.
                    </p><hr>

                    <label>{{ form.new_password2.label }}</label>
                    <!-- {{ form.new_password2 }} -->
                    <input type="password" class="form-control" name="new_password2" id="new_password2" required>
                    <span class="text-danger">{{ form.new_password2.errors }}</span>
                    <p class="text-muted-xs">Enter the same password as before, for verification.</p>

                <center><input class="btn btn-lg btn-primary" type="submit" value="Change Password"></center><br>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<br><br><br>
</section>

{% endblock content %}
