{% extends 'base.html' %}
{% block title %}Registration - djBooks{% endblock title %}

{% block content %}

<div class="container">
    <div class="row py-5 my-5">
        <div class="col-md-8 border-right">
            <h1 class="display-4">Create Account</h1> <br>

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i> {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i> {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

            <form id="account-create-form" action="{% url 'accounts:create_account' %}" method="POST">
                {% csrf_token %}
                <label for="id_email">Email address:</label>
                <input type="email" name="email" maxlength="255" class="form-control" required="" id="id_email">
                <span id="form-email-error"></span>
                <label for="id_password">Password:</label>
                <input type="password" name="password" maxlength="128" class="form-control" required=""
                    id="id_password">
                <br>
                <button id="form-submit-btn" class="btn btn-lg btn-success" type="submit">Create account</button>
            </form>
            <p class="text-muted">Already have an account ? <a href="{% url 'accounts:login' %}" class="link">Login
                    Here</a></p>

        </div>
        <div class="col-md-4">
            <ul class="lead">
                <li>Read books</li>
                <li>Get recommendations</li>
                <li>Group discussion</li>
                <li>Friends</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<!-- <script>
    var formData = document.getElementById('account-create-form');
    var submitBtn = document.getElementById('form-submit-btn');
    
    formData.addEventListener('submit', () => {
        submitBtn.innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Loading...";
        submitBtn.setAttribute("disabled", "");

        // disable inputes
        // formData.childNodes[3].disabled = true;
        // formData.childNodes[9].disabled = true;

        window.setTimeout(function () {
            // when asyncronous action is done, remove the spinner
            // re-enable button/fieldset
            submitBtn.innerHTML = "Create Account"
            submitBtn.removeAttribute("disabled", "");
            formData.childNodes[3].disabled = false;
            formData.childNodes[9].disabled = false;
        }, 4000);
    }, false);
</script> -->

{% endblock js %}