{% extends 'base.html' %}
{% block title %}About Us | Fidel{% endblock title %}
{% load static %}

{% block content %}
<br><br><br><br>
<div class="container">
    <div class="title-1">About Fidele</div><br>
    <div class="card p-3" style="box-shadow: 0 5px 0 5px rgba(0,0,0,.3);">
        <p class="lead">
            Fidel Books is a Platform that allows you to connect with other like
            minded readers, swap books, discuss, comment and review books.
        </p>
    </div>
</div>
<br><br><br><br>
{% endblock %}
