{% extends 'base.html' %}
{% block title %} Fidele Books - Explore your favorite book {% endblock title %}

{% load static %}
{% load ratings %}

{% block content %}

<style>
    /* .hero {filter: brightness(50%)} */
    .hero {
        min-height: 50vh;
        position: relative;
    }

    .hero::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .hero .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div class="hero bg-dark">
    <img src="{% static 'img/bg-1.jpg' %}" class="bg-img" alt="">

    <style>
        .anim-text {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 10;
        }

        .anim-text .text-wrapper {
            font-size: 55px;
            letter-spacing: -4px;
            font-weight: 700;
            color: #7e2ea0;
            text-align: center;
            text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
        }

        @media (max-width:700px) {
            .anim-text .text-wrapper {
                font-size: 2.5em;
            }
        }

        .cssanimation,
        .cssanimation span {
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        .cssanimation span {
            display: inline-block
        }

        .leRotateSkateInLeft span {
            animation-name: leRotateSkateInLeft
        }

        @keyframes leRotateSkateInLeft {
            from {
                transform: scaleX(0.2) translateX(-100px);
                opacity: 0;
            }
        }
    </style>

    <div class="anim-text">
        <div class="container">
            <h1 class="text-wrapper cssanimation sequence leRotateSkateInLeft">Books were my pass to personal freedom
            </h1>
            <h1 class="cssanimation leRotateSkateInLeft random" style="margin-left: 100px; font-size: 20px;">- Oprah
                Winfrey</h1>
        </div>
    </div>

</div>

<main role="main" class="container-fluid">
    <div class="row">
        <div class="col-md-8 d-flex mr-auto p-0" style="box-shadow: 0 40px 30px -20px #d6d6d6;">
            <div class="col-md-4 p-0">
                <img src="{% static 'img/books-3.jpg' %}" alt="" width="100%">
            </div>
            <div class="col-md-7 text-muted py-2">
                <h3>About Fidele</h3>
                <p class="pb-1">
                    Fidel Books is a Platform that allows you to connect with other like
                    minded readers, swap books, discuss, comment and review books.
                </p>
                Find your favorite book.
            </div>
        </div>
        {% if request.user.is_authenticated %}
        {% else %}
        <div class="col-md-4 mr-0" style="margin-top: -100px; z-index: 10;">
            <div class="card p-3" style="box-shadow: 0 80px 30px -60px #d6d6d6;">

                <form id="account-create-form" action="{% url 'accounts:create_account' %}" method="POST">
                    {% csrf_token %}
                    <input type="email" name="email" maxlength="255" class="form-control" required="" id="id_email"
                        placeholder="Email Address">
                    <span id="form-email-error"></span><br>
                    <input type="password" name="password" maxlength="128" class="form-control" required=""
                        id="id_password" placeholder="New Password">
                    <br>
                    <button id="form-submit-btn" class="btn btn-lg btn-success" type="submit">Create account</button>
                </form>

            </div>
        </div>
        {% endif %}
    </div>

    <br><br>
    <div class="container">
        <div class="row">
            <style>
                p {
                    padding: 0;
                    margin: 0;
                }
            </style>
            <!-- <div class="col-md-3">
                <img src="{% static 'img/favicon.png' %}" alt="" width="250px">
            </div> -->
            <div class="col-md-9"><br>
                <h2>Books for you</h2>
                <p class="text-warning"> Improve recommendations by adding books to your booklist and rating books.</p>

                {% include 'snippets/recommendation.html' %}
            </div>
        </div>
    </div>

    <div class="row py-5 my-0 bg-blue-black text-light">
        <div class="col-md-4">
            <div class="d-flex">
                <h1 class="counter">&#x2170;</h1>
                <h1 class="display-5">Read Books</h1>
            </div>
            <p style="position: relative;">
            <h1 class="quet">&#8220;</h1>
            Read your favorite books. We collect the most interesting books that everyone can read and
            gain some knowledge. Feel free to access anything and ask the authors.
            </p>
        </div>
        <div class="col-md-4">
            <div class="d-flex">
                <h1 class="counter">&#x2171;</h1>
                <h3 class="">Get Recommendations</h3>
            </div>
            <p style="position: relative;">
            <h1 class="quet">&#8220;</h1>
            We recommend books that may surprise you. Read the book you like and then we recommend books
            based on the genre of books you have read in the past. But this is done if you are logged in otherwise we
            recommend by highly rating book.
            </p>
        </div>
        <div class="col-md-4">
            <div class="d-flex">
                <h1 class="counter">&#x2172;</h1>
                <h1 class="display-5">Group Discussion </h1>
            </div>
            <p style="position: relative;">
            <h1 class="quet">&#8220;</h1>
            Select a book you want then choose a discussion topic or create your own and then discuss it with other
            readers. The topic should be based on the book you have chosen.
            </p>
        </div>
    </div>
</main>

{% endblock %}

{% block js %}

<script>
    // text animation
    window.onload = function () {
        animateSequence();
        animateRandom();
    };

    function animateSequence() {
        var a = document.getElementsByClassName('sequence');
        for (var i = 0; i < a.length; i++) {
            var $this = a[i];
            var letter = $this.innerHTML;
            letter = letter.trim();
            var str = '';
            var delay = 100;
            for (l = 0; l < letter.length; l++) {
                if (letter[l] != ' ') {
                    str += '<span style="animation-delay:' + delay + 'ms; -moz-animation-delay:' + delay + 'ms; -webkit-animation-delay:' + delay + 'ms; ">' + letter[l] + '</span>';
                    delay += 150;
                } else
                    str += letter[l];
            }
            $this.innerHTML = str;
        }
    }

    function animateRandom() {
        var a = document.getElementsByClassName('random');
        for (var i = 0; i < a.length; i++) {
            var $this = a[i];
            var letter = $this.innerHTML;
            letter = letter.trim();
            var delay = 70;
            var delayArray = new Array;
            var randLetter = new Array;
            for (j = 0; j < letter.length; j++) {
                while (1) {
                    var random = getRandomInt(0, (letter.length - 1));
                    if (delayArray.indexOf(random) == -1)
                        break;
                }
                delayArray[j] = random;
            }
            for (l = 0; l < delayArray.length; l++) {
                var str = '';
                var index = delayArray[l];
                if (letter[index] != ' ') {
                    str = '<span style="animation-delay:' + delay + 'ms; -moz-animation-delay:' + delay + 'ms; -webkit-animation-delay:' + delay + 'ms; ">' + letter[index] + '</span>';
                    randLetter[index] = str;
                } else
                    randLetter[index] = letter[index];
                delay += 80;
            }
            randLetter = randLetter.join("");
            $this.innerHTML = randLetter;
        }
    }

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    // animate button
    // var formData = document.getElementById('account-create-form');
    // var submitBtn = document.getElementById('form-submit-btn');

    // formData.addEventListener('submit', () => {
    //     submitBtn.innerHTML = "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Loading...";
    //     submitBtn.setAttribute("disabled", "");

    //     // disable inputes
    //     // formData.childNodes[3].disabled = true;
    //     // formData.childNodes[9].disabled = true;

    //     window.setTimeout(function () {
    //         // when asyncronous action is done, remove the spinner
    //         // re-enable button/fieldset
    //         submitBtn.innerHTML = "Create Account"
    //         submitBtn.removeAttribute("disabled", "");
    //         formData.childNodes[3].disabled = false;
    //         formData.childNodes[9].disabled = false;
    //     }, 4000);
    // }, false);
</script>

{% endblock js %}