{% extends 'base.html' %}
{% load ratings %}

{% block content %}
<br><br><br>
<div class="container">
    <h1 class="title-1 py-4 pl-3"><br> All Books from Fidel </h1>
    <div class="row">
        {% for obj in object_list %}
            <div class="col-md-6 p-3">
                <div class="book-card">
                    <a href="{{ obj.get_absolute_url }}">
                        <img src="{{ obj.cover_page.url }}" alt="" class="cover-page"/>
                    </a>
                    <div class="summary py-3">
                        <h6><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h6>
                        <p class="pb-2 m-0">By: 
                            <a href="{{ obj.user.get_absolute_url }}" class="text-muted">{{ obj.user.get_full_name }}</a> | Author 
                            <span class="text-muted">{{ obj.author }}</span></p>
                        <div class="d-flex text-muted">
                            <small>{% ratings obj %}</small>
                        </div>
                        {% include 'snippets/booklist_form.html' with obj=obj %}
                        <p>{% if obj.summary %}<small>{{ obj.summary|truncatechars:80 }}</small>{% else %}<span class="text-warning">No summary set to this book.</span>{% endif %}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
